<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sifasystems">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CoordinatorConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.UserInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CoordinatorIdentifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvigilatorConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvigilatorMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChoosePaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MalpracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MalpracticeConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseMalpracticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NFCActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BarcodeScanActivity" />
        <activity android:name=".activity.ScanLogActivity" />
        //log Service
        <service
            android:name=".Services.LogService"
            android:exported="false"></service>

        <activity android:name=".activity.InvigilatorDetailsActivity"></activity>
    </application>

</manifest>